<%= simple_form_for(@page_translation) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :locale %>
    <%= f.input :url_code %>
    <%= f.input :title %>
    <%= f.input :body %>
    <%= f.association :page %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
